
@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card corona-gradient-card">
                <img src="~/images/Food/banner.jpg" style="height:200px; width:1440px" />
            </div>
        </div>
    </div>
    <h1> Đặt Hàng Thành Công</h1>
    <a asp-controller="Food" asp-action="Index">
        <button class="btn">Trở về trang chủ</button>
    </a>

 </div>
