@model WebMonAn.Models.UserModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-8 grid-margin offset-md-2">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center" style="font-size:30px">Đăng Ký</h4>
            <form class="form-sample" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="UserName" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="FullName" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="DiaChi" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="DiaChi" class="form-control" />
                                <span asp-validation-for="DiaChi" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="GioiTinh" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="GioiTinh" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                                    <option value="0">Chọn Giới Tính</option>
                                </select>
                                <span asp-validation-for="GioiTinh" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="NgaySinh" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="NgaySinh" type="date" class="form-control" />
                                <span asp-validation-for="NgaySinh" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="DienThoai" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="DienThoai" class="form-control" />
                                <span asp-validation-for="DienThoai" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Role" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="Role" class="form-control" asp-items="ViewBag.Role"></select>
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Password" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="ConfirmPassword" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
                @if (ViewBag.error != null)
                {
                    <span>@ViewBag.error</span>
                }
                <div class="row">
                    <div class="col-md-3">
                        <input type="submit" value="Đăng Ký" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
